@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body{
    background:black;
}
.start_btn,
.info_box{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.start_btn button{
  font-size: 25px;
  font-weight: 500;
  color: white;  
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: purple;
  cursor: pointer;
}

.info_box{
    width: 540px;
    background: white;
    border-radius: 5px;
}
.info_box .info_title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}
.info_box .info_list{
    padding: 15px 35px ;

}
.info_box .info_list .info{
    margin: 5px 0;
    font-size: 15px;
}
.info_box .info_list .info span{
    font-weight: 600;
    color: purple;
}